@model IEnumerable<VulnerableAppNet8.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Product overview</h1>

<p>
    <form asp-action="Index" method="get">
        <div class="form-group">
            <input type="text" name="searchString" class="form-control" placeholder="Search products" />
            <button type="submit" class="btn btn-primary btn-spacing">Search</button>
        </div>
    </form>
</p>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="Upload">Import products</a>
</p>
<p>
    Current filter: <div id="searchString"></div>  
    @* //';alert(1);' *@
    <script>
        var search = '@Html.Raw(ViewBag.SearchFilter)'; @* Vulnerable code reading raw input *@
        document.getElementById('searchString').innerText = search;
    </script>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.CreatedByUserId == ViewBag.UserId)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> @:|
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (item.CreatedByUserId == ViewBag.UserId)
                    {
                        @:|
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
